.amount {
  border: 2px solid #e9ecef;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1.2em;
}

.valueAmount {
  display: flex;
  justify-content: space-between;
}

.rs {
  color: #fd377e;
}

.textAmount {
  color: rgb(107, 107, 107);
  font-size: 0.9em;
}
